<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.witness.proofmode.camera">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <activity
            android:name="org.witness.proofmode.camera.CameraModuleActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Proofmode">

        </activity>
    </application>

</manifest>