<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.witness.proofmode.library"
xmlns:tools="http://schemas.android.com/tools"
 >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion"
        />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        tools:remove="android:maxSdkVersion" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:remove="android:maxSdkVersion" />
    <uses-permission
        android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        tools:remove="android:maxSdkVersion"/>
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        tools:remove="android:maxSdkVersion" />
    <uses-permission
        android:name="android.permission.INTERNET"
        tools:remove="android:maxSdkVersion" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:remove="android:maxSdkVersion" />
</manifest>

