<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.witness.proofmode">
    <!-- A device that has any camera be it front, back or external will work. -->
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <!--
 Required only if your app needs to access images or photos
     that other apps created.
    -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!--
 Required only if your app needs to access videos
         that other apps created.
    -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <!--
 Required only if your app needs to access audio files
         that other apps created.
    -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <!--
 If your app doesn't need to access media files that other apps created,
         set the "maxSdkVersion" attribute to "28" instead.
    -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" /> <!-- SDK 33 and up -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        tools:remove="android:maxSdkVersion" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:remove="android:maxSdkVersion" />
    <!--
    <uses-permission
        android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        tools:remove="android:maxSdkVersion" />
    -->
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        tools:remove="android:maxSdkVersion" />
    <uses-permission
        android:name="android.permission.INTERNET"
        tools:remove="android:maxSdkVersion" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".ProofModeApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PermissionActivity" />
        <activity
            android:name=".onboarding.OnboardingActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/activity_settings_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".org.witness.proofmode.ui.DataLegendActivity"
            android:label="@string/activity_datalegend_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".org.witness.proofmode.ui.DigitalSignaturesActivity"
            android:label="@string/menu_digital_signatures"
            android:screenOrientation="portrait" />
        <activity
            android:name=".org.witness.proofmode.share.FilebaseSettingsActivity"
            android:label="Filebase Settings"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".org.witness.proofmode.util.OnBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.MediaWatcher"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.UMS_CONNECTED" />
                <action android:name="android.intent.action.UMS_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".org.witness.proofmode.share.ShareProofActivity"
            android:exported="true"
            android:label="@string/share_proof_action">
            <intent-filter>
                <action
                    android:name="android.intent.action.SEND"
                    android:label="@string/share_proof_action" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.SEND"
                    android:label="@string/share_proof_action" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.SEND"
                    android:label="@string/share_proof_action" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.SEND_MULTIPLE"
                    android:label="@string/share_proof_action" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="org.witness.proofmode.action.SHARE_PROOF"
                    android:label="@string/share_proof_action" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VerifyProofActivity"
            android:exported="true"
            android:label="@string/verify_proof"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action
                    android:name="android.intent.action.SEND"
                    android:label="@string/verify_proof" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/zip" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.PhotosContentJob"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".service.VideosContentJob"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".service.CameraEventReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="10000">
                <action android:name="com.android.camera.NEW_PICTURE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter android:priority="10000">
                <action android:name="com.android.camera.NEW_VIDEO" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".org.witness.proofmode.util.ProofEventReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="10000">
                <action android:name="org.witness.proofmode.PROOF_GENERATED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove"></provider>
    </application>

</manifest>