<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.witness.proofmode"
    android:versionName="0.0.1"
    android:versionCode="1"

    >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <receiver
            android:name=".MediaWatcher"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.camera.NEW_PICTURE" />
                <action android:name="android.hardware.action.NEW_PICTURE" />

                <data android:mimeType="image/*" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.camera.NEW_VIDEO" />

                <data android:mimeType="video/*" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.action.NEW_VIDEO" />

                <data android:mimeType="video/*" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".GetProofActivity" android:label="Get Proof">

            <intent-filter>
                <action
                    android:name="android.intent.action.SEND"
                    android:label="Get Proof" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>

        </activity>
        <activity android:name=".NotarizeActivity" android:label="Notarize">

            <intent-filter>
                <action
                    android:name="android.intent.action.SEND"
                    android:label="Notarize" />

                <category android:name="android.intent.category.ALTERNATIVE" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.SEND"
                    android:label="Notarize" />

                <category android:name="android.intent.category.ALTERNATIVE" />

                <data android:mimeType="video/*" />
            </intent-filter>

        </activity>
    </application>

</manifest>