<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.witness.proofmode.plugins.lp">
    <application>
        <activity
            android:name="org.witness.proofmode.plugins.lp.deeplink.WalletDeepLinkRouterActivity"
            android:exported="true"
            android:theme="@style/Theme.Proofmode.WalletDeepLinkRouter">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="proofmode"
                    android:host="wallet" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.witness.proofmode.plugins.lp.wallet.WalletSettingsActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:label="Wallet Settings" />
    </application>
</manifest>
